@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,600&family=Roboto+Slab:wght@500&display=swap");
.bg_entry {
    background-color: #ab15ad;
    background-image: linear-gradient(180deg, #ab15ad 0%, #290a22 100%);
    width: 100%;
    height: 100vh;
    opacity: 0.4;
    position: absolute;
    z-index: -1;
}

.entry_block {
    font-family: "Roboto Slab", serif;
    width: 100%;
    height: 100vh;
    color: #ffe5f7;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10;
}

.bg_img {
    width: 100%;
    height: 100vh;
    z-index: -3;
    background-image: url("./stars.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.name {
    font-family: "Raleway", sans-serif;
    color: #ff29cd;
}

.view_btn {
    border: 2px whitesmoke solid;
    padding: 1rem;
    border-radius: 10px;
}

a:link {
    text-decoration: none;
}

.view_btn a:link,
a:visited {
    text-decoration: inherit;
    color: inherit;
}

.view_btn:hover {
    background-color: #edb8ff;
    color: #600080;
    cursor: pointer;
}

.entry_main {
    position: relative;
}

a:link {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
}