@import url("https://fonts.googleapis.com/css2?family=Mate+SC&display=swap");
.nav_main {
    background-color: hsl(317, 100%, 21%);
    color: hsl(317, 100%, 86%);
    font-family: "Mate SC", serif;
    letter-spacing: 1.5px;
    font-size: larger;
}

.nav_items {
    margin-left: 5rem;
}

.nav-item:hover {
    color: aquamarine;
}

.nav-item {
    margin: 0 1.5rem;
}