@import url("https://fonts.googleapis.com/css2?family=Mate+SC&display=swap");
.nav_main {
    background-color: hsl(317, 100%, 21%);
    color: hsl(317, 100%, 86%);
    font-family: "Mate SC", serif;
    letter-spacing: 1.5px;
    font-size: large;
}

.nav_items {
    margin-left: 5rem;
}

.nav-item {
    margin: 0 1.5rem;
}

.navbar-toggler {
    border-color: rgb(255, 184, 235);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,184,235, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}